.full-width {
    height: calc(100vh - 64px);
}

input:invalid {
    color: red;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}